* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adminheader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid black;
    border-radius: 10px;
}

.adminheader .admin h1 {
    width: 120px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.adminheader .admin {
    padding: 17px;

}

.adminheader .admin_links {
    display: flex;
    gap: 10px;
    padding: 17px;
}

.adminheader .admin_links .link_1 {
    width: 80px;
    height: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 20px;
    transition: 0.3s;
}

.adminheader .admin_links .link_2 {
    width: 100px;
    height: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 20px;
    transition: 0.3s;
    margin-right: 30px;
}

.adminheader .admin_links .link_1:hover {
    width: 90px;
    height: 40px;
    background-color: white;
}

.adminheader .admin_links .link_2:hover {
    width: 110px;
    height: 40px;
    background-color: white;
}

.adminheader .admin_links .profile {
    display: flex;
    gap: 5px;
}

.adminheader .admin_links .usericon {

    width: 30px;
    height: 30px;
    background-color: #FFFFFFFF;
    border-radius: 50%;

    display: flex;


}
.adminheader .admin_links .profile .profile2{
    text-decoration: none;
    color: black;
}


.adminheader .admin_links .signup{
    width: 70px;
    height: 30px;
    font-size: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #191919;
    color: #FFFFFFFF;
    border-radius: 20px;
    transition: 0.3s;
}

.adminheader .admin_links .login{
    width: 70px;
    height: 30px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #191919;
    color: #FFFFFFFF;
    border-radius: 20px;
    transition: 0.3s;
}

.adminheader .admin_links .login:hover{
    background-color: #808080;
}
.adminheader .admin_links .signup:hover{
    background-color: #808080;
}

